body{
  font-family: arial, helvetica, sans-serif;
  margin: 0;
}

/* Todo el Header */
header{
  background: black;
  padding-top: 2em;
  padding-bottom: 2em;
}

figure{
  margin: 0;
  display: inline-block;
  text-align: center;
  width: 30%
}

input{
  width: 350px;
  height: 25px;
  margin-right: -2px;
}

button{
  background-color: red;
  border: none;
  color: white;
  width: 90px;
  height: 25px;
}

header section{
  display: inline-block;
  width: 67%;
  text-align: right;
}
h1{
  margin: 0;
}

header figure h1{
  color: white;
}

/* Body div's e image */

main section img{
  width: 70%;
  background-size: cover;
  margin-left: 25%;
}

main section h2{
  width: 10%;
  background: red;
  color: white;
  margin-left: 45%;
  margin-right: 45%;
}

main section div{
  text-align: center;
}

/* figuras del sidebar */

.chiapas h2{
  color: red;
  font-family: 'Spicy Rice', cursive;
  font-size: 8;
}

.chiapas p{
  font-family: 'Mukta', sans-serif;
}

.guanajuato h2{
  color: red;
  font-family: 'Spicy Rice', cursive;
  font-size: 8;
}

.guanajuato p{
  font-family: 'Mukta', sans-serif;
}

.yucatan h2{
  color: red;
  font-family: 'Spicy Rice', cursive;
  font-size: 8;
}

.yucatan p{
  font-family: 'Mukta', sans-serif;
}

.puebla h2{
  color: red;
  font-family: 'Spicy Rice', cursive;
  font-size: 8;
}

.puebla p{
  font-family: 'Mukta', sans-serif;
}

.puerto h2{
  color: red;
  font-family: 'Spicy Rice', cursive;
  font-size: 8;
}

.puerto p{
  font-family: 'Mukta', sans-serif;
}

/* media querys */

@media screen and (min-width:500px) and (max-width:700px){
  body{
    font-family: 'Mukta', sans-serif;
    background: purple;
    color: white;
  }
  body h2{
    font-family: 'Mukta', cursive;
  }

  main section h2{
    width: 10%;
    background: red;
    color: white;
    margin-left: 55%;
    margin-right: 35%;
    font-size: 10;
  }

  main section div p{
    margin-left: 55%;
    margin-right: 35%;
  }
}

@media screen and (min-width:701px) and (max-width:900px){
  body{
    font-family: 'Spicy Rice', sans-serif;
    font-size: 30;
    background: green;
    color: white;
  }
  body h2{
    font-family: 'Spicy Rice', cursive;
  }

  main section h2{
    width: 10%;
    background: red;
    color: white;
    margin-left: 55%;
    margin-right: 25%;
    font-size: 10;
  }

  main section div p{
    margin-left: 55%;
    margin-right: 25%;
  }
}
